<!-- orders-wrapper -->
<div class="orders-wrapper py-10 bg-secondary">
  <div class="container mx-auto px-4">
    <h1 class="font-bold text-xl mb-8">All Orders</h1>

    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Order Id</th>
          <th class="px-4 py-2 text-left">Customers Name</th>
          <th class="px-4 py-2 text-left">Shipping Address</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Order Placed at</th>
          <th class="px-4 py-2 text-left">Payment</th>
        </tr>
      </thead>
      <tbody id="orderTableBody"></tbody>
    </table>
  </div>
</div>
